{% extends "app_base.html" %}
{% block content %}
    <head>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <div class="container center_div">
        <center>
        <h3>Scaling Relations Plotter</h3>
        <br>
        <div id="scalePlot" style="width:500px;height:400px;"></div>
        {% if Xdata and Ydata %}
            <script src="./static/js/makePlot.js"></script>
            <script>
                makeScalingPlot('scalePlot',
                    '{{ fitLabel }}', {{ Xfit|safe }}, {{ Yfit|safe }},
                    {{ Xdata|safe }}, {{ Ydata|safe }},
                    '  {{ Xlab|e|replace("hf", "\xBD ") }}', '  {{ Ylab|e|replace("hf", "\xBD ") }}',
                    '{{ outTypeX.split("_")[0] }}', '{{ outTypeY.split("_")[0] }}',
                    {{ dataLabels|safe }}
                )
            </script>
        {% endif %}
        </center>
        <script>
            var filterDay = $('#outType input:radio:checked').val()
        </script>
        <center>
        <form method="POST" action="plot" role="form" style="max-width:300px; width:100%" class="form-group">
            <div class="form-group">
                <label for="X">X descriptor</label>
                <select size="1" name="X" class="form-control" id="X">
                    {% for rxn in reactions[:-1] %}
                        {% if rxn['AB']+"|"+rxn['A']+"|"+rxn['B'] == X_select %}
                            <option value="{{ rxn['AB'] }}|{{ rxn['A'] }}|{{ rxn['B'] }}" selected="selected">
                        {% else %}
                            <option value="{{ rxn['AB'] }}|{{ rxn['A'] }}|{{ rxn['B'] }}">
                        {% endif %}
                        {{ rxn['AB']|e|replace("hf", "1/2 ") }} &rarr; {{ rxn['A']|e|replace("hf", "1/2 ") }} + {{ rxn['B']|e|replace("hf", "1/2 ") }}
                        </option>
                    {% endfor %}
                </select>
                <div class="form-group" id="outType" data-toggle="buttons">
                    <label class="radio-inline">
                        {% if outTypeX == "Reaction_Energy" %}
                            <input type="radio" name="outTypeX" value="Reaction_Energy" checked="">
                        {% else %}
                            <input type="radio" name="outTypeX" value="Reaction_Energy">
                        {% endif %}
                    Reaction Energy</label>
                    <label class="radio-inline">
                        {% if outTypeX == "Activation_Energy" %}
                            <input type="radio" name="outTypeX" value="Activation_Energy" checked="">
                        {% else %}
                            <input type="radio" name="outTypeX" value="Activation_Energy">
                        {% endif %}
                    Activation Energy</label>
                </div>
            </div>
            <div class="form-group">
                <label for="Y">Y descriptor</label>
                <select size="1" name="Y" class="form-control" id="Y">
                    {% for rxn in reactions[:-1] %}
                        {% if rxn['AB']+"|"+rxn['A']+"|"+rxn['B'] == Y_select %}
                            <option value="{{ rxn['AB'] }}|{{ rxn['A'] }}|{{ rxn['B'] }}" selected="selected">
                            {% else %}
                                <option value="{{ rxn['AB'] }}|{{ rxn['A'] }}|{{ rxn['B'] }}">
                                {% endif %}
                                {{ rxn['AB']|e|replace("hf", "1/2 ") }} &rarr; {{ rxn['A']|e|replace("hf", "1/2 ") }} + {{ rxn['B']|e|replace("hf", "1/2 ") }}
                            </option>
                    {% endfor %}
                </select>
                <div class="form-group" id="outType" data-toggle="buttons">
                    <label class="radio-inline">
                        {% if outTypeY == "Reaction_Energy" %}
                            <input type="radio" name="outTypeY" value="Reaction_Energy" checked="">
                        {% else %}
                            <input type="radio" name="outTypeY" value="Reaction_Energy">
                        {% endif %}
                        Reaction Energy
                    </label>
                    <label class="radio-inline">
                        {% if outTypeY == "Activation_Energy" %}
                            <input type="radio" name="outTypeY" value="Activation_Energy" checked="">
                        {% else %}
                            <input type="radio" name="outTypeY" value="Activation_Energy">
                        {% endif %}
                        Activation Energy
                    </label>
                </div>
            </div>
            <center>
            <input type="submit" value="Plot" class="btn btn-info" />
            </center>
        </div>
    </form>
    </center>
{% endblock %}
